#first-div, #second-div {
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 10px solid_black;
}

#first-div{
  background-color: #39cccc;
}

#second-div {
  background-color: #251c1c;
  box-sizing: border-box
}

p {
  background-color: #7fdbff;
  height: 50px;
  width: 100px;
}
.image-1-container {
  width: 200px;
  height: 600px;
  background: red
}

img {
  100%
}

